<ion-view class="auth-view" cache-view="false">
  <ion-nav-bar class="view-navigation">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <div class="row form-heading">
      <div class="col">
        <h1 class="form-title">Register your account</h1>
        <!--
        <h3 class="form-sub-title">Sign up with Social Network or Email</h3>
        <div class="social-sign-up button-bar">
          <a class="button icon ion-social-facebook button-positive"></a>
          <a class="button icon ion-social-twitter button-calm"></a>
        </div>
      -->
      </div>
    </div>
    <!--
    <div class="row form-separator">
      <hr class="separator-line"/>
      <span class="separator-mark">OR</span>
      <hr class="separator-line"/>
    </div>
  -->
    <div class="row">
      <div class="col">
        <form name="userForm" class="" ng-submit="doSignUp()" novalidate>
            <!--Name-->
            <div class="form-group" ng-class="{'has-error' : userForm.name.$invalid && !userForm.name.$pristine}">
              <input class="form-control" type="text" placeholder="Name" name="name" ng-model="user.name" required>
              <p ng-show="userForm.name.$invalid && !userForm.name.$pristine"  class="help-block">Your name is required.</p>
            </div>
            <!--Surename-->
            <div class="form-group" ng-class="{'has-error' : userForm.surename.$invalid && !userForm.surename.$pristine}">
              <input class="form-control" type="text" placeholder="Surename" name="surename" ng-model="user.surename" required>
              <p ng-show="userForm.surename.$invalid && !userForm.surename.$pristine"  class="help-block">Your Surename is required.</p>
            </div>
            <!--User Name-->
            <div class="form-group" ng-class="{'has-error' : userForm.username.$invalid && !userForm.username.$pristine}">
              <input class="form-control" type="text" placeholder="User Name" name="username" ng-model="user.username" required>
              <p ng-show="userForm.username.$invalid && !userForm.username.$pristine"  class="help-block">Your User Name is required.</p>
            </div>
            <!--Email-->
            <div class="form-group" ng-class="{'has-error' : userForm.email.$invalid && !userForm.email.$pristine}">
              <input class="form-control" type="email" placeholder="example@demo.com" name="email" ng-model="user.email" required>
              <p ng-show="userForm.email.$invalid && !userForm.email.$pristine"  class="help-block">Enter a valid email.</p>
            </div>
            <!--date of birth-->
            <div class="form-group">
              <input class="form-control" type="date" placeholder="Date of Birth" name="birthday" ng-model="user.birthday">
            </div>
            <!--password-->
            <div class="form-group">
              <input class="form-control" type="password" placeholder="Password" name="password" ng-model="user.password" required>
              <p ng-show="userForm.password.$invalid && !userForm.password.$pristine"  class="help-block">Enter a valid password.</p>
            </div>
            <!--submit button-->
            <button class="signup-button" type="submit" ng-disabled="userForm.$invalid">
              Sign Up
            </button>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
