.adjustment-photo-principal {
	width: 100%;
	height: 200px;
	background: url('../img/side.png') no-repeat;
	background-size: cover;
}

.adjustment-photo-cell {
	height: 13vh;
	background: url('../img/side.png') no-repeat;
	background-size: cover;
	float: left;
	width: 32.333%;
	margin: 0.5%;
}
.schedule-item1, .schedule-item2{
	width: 100%;
	height: 26px;
}
.schedule-item2{
	margin-top: 6px;	
}

.schedule-item21 {
    height: 26px;
    width: 26px;
    background: #089F34;
    border-radius: 50%;
    float: left;
    text-align: center;
    border-color: #C0BFBF;
	border-width: 1px;
	border-style: solid;
	margin-left: 10px;
}