.pendient-option {
	width: 86px;
}
.pendient-item {
	border-style: hidden;
	border-bottom-style: solid;
	border-width: 6px;
}
.pendient-item-1 {
	font-family: 'open-sans-semibold';
}
.pendient-item-2 {
	font-family: 'open-sans-regular';
}
.pendient-item-3 {
	font-family: 'open-sans-light';
}