<ion-view class="citasPendient-view">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button">GUARDAR</button>
    </ion-nav-buttons>

    <ion-nav-title>
        <div class="mytitle">
            <h1>nueva cita</h1>
        </div>
    </ion-nav-title>
    <div class="tabs-striped tabs-top tabs-background-dark tabs-color-light">
        <ion-tabs>
            <ion-tab title="NUEVO CLIENTE" href="#main/addappointment/newclient">
                <ion-nav-view  name="addtab"></ion-nav-view>
            </ion-tab>
            <ion-tab title="CLIENTE EXISTENTE" href="#main/addappointment/existclient">
                <ion-nav-view name="existtab"></ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </div>
</ion-view>