<ion-view  title="Customer Photo">
	<ion-nav-buttons side="left">
	    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
	    <button class="button">GUARDAR</button>
	</ion-nav-buttons>
	<ion-nav-title>
	    <div class="mytitle">
	      <h1>ajustes</h1>
	    </div>
	</ion-nav-title>
	<ion-content>
		<div class="adjustment-photo-principal">
		</div>
		<div style="display: block;">
			<div class="adjustment-photo-cell"></div>
			<div class="adjustment-photo-cell"></div>
			<div class="adjustment-photo-cell"></div>
			<div class="adjustment-photo-cell"></div>
			<div class="adjustment-photo-cell"></div>
		</div>
	</ion-content>
		<div class="bar bar-footer bar-assertive">
    <div class="title">AÑADIR FOTO</div>
  </div>
</ion-view>