<ion-view  title="Customer Data">
	<ion-nav-title>
	    <div class="mytitle">
	      <h1>editar cliente</h1>
	    </div>
	</ion-nav-title>
	<ion-content>
		<ul class="list">
	      <li class="item" style="display: block;">
	        <div style="float: left;">NOMBRE</div>
	        <div class="detail1" style="float: right;">Estética de Belleza G&M</div>
	      </li>
	      <li class="item" style="display: block;">
	        <div style="float: left;">EMAIL</div>
	        <div class="detail2" style="float: right;">bellezagm@gmail.com</div>
	      </li>
	      <li class="item" style="display: block;">
	        <div style="float: left;">TELÉFONO</div>
	        <div class="detail3" style="float: right;">698635284</div>
	      </li>
	      <li class="item" style="display: block;">
	        <div style="float: left;">DIRECCIÓN</div>
	        <div class="detail3" style="float: right;">Iturribide 7</div>
	      </li>
	      <li class="item" style="display: block;">
	        <div style="float: left;">CIUDAD</div>
	        <div class="detail3" style="float: right;">Bilbao</div>
	      </li>
	      <li class="item" style="display: block;">
	        <div style="float: left;">CP</div>
	        <div class="detail3" style="float: right;">48007</div>
	      </li>
	      <li class="item" style="display: block;">
	        <div style="float: left;">PROVINVIA</div>
	        <div class="detail4" style="float: right;">Bizkaia
	          <i class="icon ion-chevron-right" style="margin-left: 12px;"></i>
	        </div>
	      </li>
	      <li class="item">
	        <div>DESCRIPCIÓN</div>
	        <div class="detail8 item-text-wrap">Centro de estética integral, donde ofrecemos tratamientos de peqluquería y manicura.</div>
	      </li>
	    </ul>
	</ion-content>
</ion-view>