<ion-view class="citasPendient-view">
	 <ion-nav-buttons side="left">
	     <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	  </ion-nav-buttons>
	  <ion-nav-buttons side="right">
	     <button class="button button-icon icon ion-android-add"></button>
	  </ion-nav-buttons>
  	
	<ion-nav-title>
	    <div class="mytitle">
	      <h1>citas pendientes</h1>
	    </div>
	</ion-nav-title>
	<ion-content class="has-header">
		<ion-list>
			<ion-item class="pendient-item">
				<div class="pendient-item-1">Miércoles, 23 oct 2016, 12:00 - 12:30</div>
				<div class="pendient-item-2">Ana Sanz</div>
				<div class="pendient-item-3">Manicura y pedicura - Jorge Sánchez</div>
				<ion-option-button class= "pendient-option button-balanced">
					<div style="margin: auto;font-size: 20px;">✓</div>
				</ion-option-button>
				<ion-option-button class= "pendient-option button-assertive">
					<div style="margin: auto;font-size: 26px;">✕</div>
				</ion-option-button>
			</ion-item>
			<ion-item class="pendient-item">
				<div class="pendient-item-1">Miércoles, 23 oct 2016, 13:00 - 13:30</div>
				<div class="pendient-item-2">Ana Sanz</div>
				<div class="pendient-item-3">Manicura y pedicura - Jorge Sánchez</div>
				<ion-option-button class= "pendient-option button-balanced">
					<div style="margin: auto;font-size: 20px;">✓</div>
				</ion-option-button>
				<ion-option-button class= "pendient-option button-assertive">
					<div style="margin: auto;font-size: 26px;">✕</div>
				</ion-option-button>
			</ion-item>
			<ion-item class="pendient-item">
				<div class="pendient-item-1">Miércoles, 23 oct 2016, 16:00 - 17:30</div>
				<div class="pendient-item-2">Ana Sanz</div>
				<div class="pendient-item-3">Manicura y pedicura - Jorge Sánchez</div>
				<ion-option-button class= "pendient-option button-balanced">
					<div style="margin: auto;font-size: 20px;">✓</div>
				</ion-option-button>
				<ion-option-button class= "pendient-option button-assertive">
					<div style="margin: auto;font-size: 26px;">✕</div>
				</ion-option-button>
			</ion-item>
			<ion-item class="pendient-item">
				<div class="pendient-item-1">Miércoles, 24 oct 2016, 12:00 - 12:30</div>
				<div class="pendient-item-2">Ana Sanz</div>
				<div class="pendient-item-3">Manicura y pedicura - Jorge Sánchez</div>
				<ion-option-button class= "pendient-option button-balanced">
					<div style="margin: auto;font-size: 20px;">✓</div>
				</ion-option-button>
				<ion-option-button class= "pendient-option button-assertive">
					<div style="margin: auto;font-size: 26px;">✕</div>
				</ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>