<ion-view>
	<ion-nav-title>
	    <div class="mytitle">
	      <h1>editar cliente</h1>
	    </div>
	</ion-nav-title>
	<ion-content>
		<ul class="list">
	      <li class="item">
	        <div class="customer-data-item-date">Martes, Feb 10</div>
	        <div class="customer-data-item-hour">11:00 - 12:00</div>
	        <div class="customer-data-item-name">Atentido por Jorge - Barberia</div>
	        <div class="customer-data-item-note  item-text-wrap">Notas: Lorem ipsum dolor sit amet, cibo prompta et quo, saepe deserunt nec no, et vix sale luptatum</div>
	      </li>
	      <li class="item">
	        <div class="customer-data-item-date">Miércoles, Feb 9</div>
	        <div class="customer-data-item-hour">10:30 - 11:30</div>
	        <div class="customer-data-item-name">Atentido por Jorge - Corte de Pelo</div>
	        <div class="customer-data-item-note  item-text-wrap">Notas: Lorem ipsum dolor sit amet, cibo prompta et quo, saepe deserunt nec no, et vix sale luptatum</div>
	      </li>
	    </ul>
	</ion-content>
</ion-view>