<ion-view>
	<ion-nav-buttons side="left">
	    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
	    <button class="button">GUARDAR</button>
	</ion-nav-buttons>
  	
	<ion-nav-title>
	    <div class="mytitle">
	      <h1>nueva cita</h1>
	    </div>
	</ion-nav-title>
	<ion-content>
		<ul class="list">
	      <li class="item" style="display: block;">
	        <div style="float: left;">NOMBRE</div>
	        <div class="detail1" style="float: right;">Ana Sanz
		        <i class="icon ion-android-search" style="margin-left: 12px;"></i>
		    </div>
	      </li>
	      <li class="item" style="display: block;">
	        <div style="float: left;">PROVEEDOR</div>
	        <div class="detail4" style="float: right;">Jorge Sánchez
	          <i class="icon ion-chevron-right" style="margin-left: 12px;"></i>
	        </div>
	      </li>
	      <li class="item" style="display: block;">
	        <div style="float: left;">SERVICIO</div>
	        <div class="detail5" style="float: right;">Manicura y pedicura
	          <i class="icon ion-chevron-right" style="margin-left: 12px;"></i>
	        </div>
	      </li>
	      <li class="item" style="display: block;">
	        <div style="float: left;">EMPIEZA</div>
	        <div class="detail61" style="float: right;">09:00</div>
	        <div class="detail62" style="float: right; margin-right: 16px;">23 ago 2016</div>
	      </li>
	      <li class="item" style="display: block;">
	        <div style="float: left;">TERMINA</div>
	        <div class="detail7" style="float: right;">10:00</div>
	      </li> 
	      <li class="item">
	        <div>NOTAS</div>
	        <div class="detail8 item-text-wrap">Me gustaria hacerme la manicura francesa tanto en las manos como en los pies. Gracias.</div>
	      </li>
	      <li class="item" style="display: block;">
	        <div style="float: left;">ESTADO</div>
	        <div class="detail9" style="float: right;">confirmado
	          <i class="icon ion-chevron-right" style="margin-left: 12px;"></i>
	        </div>
	      </li>
	    </ul>
	</ion-content>
</ion-view>