<ion-view class="home-view">

      <ion-nav-buttons side="left">
         <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
         <button class="button button-icon icon ion-android-add"></button>
      </ion-nav-buttons>

  <ion-nav-title>
    <div class="current-date">
      <h1>Friday 15th</h1>
    </div>
  </ion-nav-title>
  <ion-content>
     <div class="container">
      <div class="calendar">
        <div class="front">
          <div class="current-month">
            <ul class="week-days">
              <li>MON</li>
              <li>TUE</li>
              <li>WED</li>
              <li>THU</li>
              <li>FRI</li>
              <li>SAT</li>
              <li>SUN</li>
            </ul>

            <div class="weeks">
              <div class="first">
                <span class="last-month">28</span>
                <span class="last-month">29</span>
                <span class="last-month">30</span>
                <span class="last-month">31</span>
                <span>01</span>
                <span>02</span>
                <span>03</span>
              </div>

              <div class="second">
                <span>04</span>
                <span>05</span>
                <span class="event">06</span>
                <span>07</span>
                <span>08</span>
                <span>09</span>
                <span>10</span>
              </div>

              <div class="third">
                <span>11</span>
                <span>12</span>
                <span>13</span>
                <span>14</span>
                <span class="active">15</span>
                <span>16</span>
                <span>17</span>
              </div>

              <div class="fourth">
                <span>18</span>
                <span>19</span>
                <span>20</span>
                <span>21</span>
                <span>22</span>
                <span>23</span>
                <span>24</span>
              </div>

              <div class="fifth">
                <span>25</span>
                <span>26</span>
                <span>27</span>
                <span>28</span>
                <span>29</span>
                <span>30</span>
                <span>31</span>
              </div>
            </div>
          </div>
        </div>
       
        <div class="back"> <!--
          <input placeholder="What's the event?">
          <div class="info">
            <div class="date">
              <p class="info-date">
              Date: <span>Jan 15th, 2016</span>
              </p>
              <p class="info-time">
                Time: <span>6:35 PM</span>
              </p>
            </div>
            <div class="address">
              <p>
                Address: <span>129 W 81st St, New York, NY</span>
              </p>
            </div>
            <div class="observations">
              <p>
                Observations: <span>Be there 15 minutes earlier</span>
              </p>
            </div>
          </div>
          
          <div class="actions">
            <button class="save">
              Save <i class="ion-checkmark"></i>
            </button>
            <button class="dismiss">
              Dismiss <i class="ion-android-close"></i>
            </button>
          </div>-->
        </div>

      </div>
    </div>
    <div class="main_title">
      <h4>JORGE SÁNCHEZ</h4>
      <h4>viernes, 23 de febrero de 2016</h4>
    </div>
    <div class="main-list">
      <ul class="list">
        <!--individual item-->
        <li class="item main-item">
          <div class="main-item-div">
            <div class="main-item-left gray">
              <h2 class="main-item-from">09:00</h2>
              <h2 class="main-item-to">10:00</h2>
            </div>
            <div class="main-item-center green"></div>
            <div class="main-item-right gray" ng-click="goDetail()">
              <div style="float: left; width: 90%;">
                <h2 class="main-item-name">Ana Sanz</h2>
                <h2 class="main-item-detail">Manicura y pedicura</h2>
              </div>
              <i class="icon ion-chevron-right" style="right: 16px; top: 14px; position: absolute;"></i>
            </div>
          </div>
        </li>
        <!---->
        <!--individual item-->
        <li class="item main-item">
          <div class="main-item-div">
            <div class="main-item-left gray">
              <h2 class="main-item-from">10:00</h2>
              <h2 class="main-item-to">10:30</h2>
            </div>
            <div class="main-item-center blue"></div>
            <div class="main-item-right gray">
              <div style="float: left; width: 90%;">
                <h2 class="main-item-name">Joaquín Moreno</h2>
                <h2 class="main-item-detail">Corte de pelo</h2>
              </div>
              <i class="icon ion-chevron-right" style="right: 16px; top: 14px; position: absolute;"></i>
            </div>
          </div>
        </li>
        <!---->
        <!--individual item-->
        <li class="item main-item">
          <div class="main-item-div">
            <div class="main-item-left gray">
              <h2 class="main-item-from">10:30</h2>
              <h2 class="main-item-to">11:00</h2>
            </div>
            <div class="main-item-center blue"></div>
            <div class="main-item-right gray">
              <div style="float: left; width: 90%;">
                <h2 class="main-item-name">Ander Roncero</h2>
                <h2 class="main-item-detail">Corte de pelo</h2>
              </div>
              <i class="icon ion-chevron-right" style="right: 16px; top: 14px; position: absolute;"></i>
            </div>
          </div>
        </li>
        <!---->
        <!--individual item-->
        <li class="item main-item">
          <div class="main-item-div">
            <div class="main-item-left gray">
              <h2 class="main-item-from">12:00</h2>
              <h2 class="main-item-to">13:00</h2>
            </div>
            <div class="main-item-center green"></div>
            <div class="main-item-right gray">
              <div style="float: left; width: 90%;">
                <h2 class="main-item-name">Carmen Santamaría</h2>
                <h2 class="main-item-detail">Manicura y pedicura</h2>
              </div>
              <i class="icon ion-chevron-right" style="right: 16px; top: 14px; position: absolute;"></i>
            </div>
          </div>
        </li>
        <!---->
        <!--individual item-->
        <li class="item main-item">
          <div class="main-item-div">
            <div class="main-item-left gray">
              <h2 class="main-item-from">16:00</h2>
              <h2 class="main-item-to">16:30</h2>
            </div>
            <div class="main-item-center red"></div>
            <div class="main-item-right gray">
              <div style="float: left; width: 90%;">
                <h2 class="main-item-name">Pablo Acebedo</h2>
                <h2 class="main-item-detail">Barbería</h2>
              </div>
              <i class="icon ion-chevron-right" style="right: 16px; top: 14px; position: absolute;"></i>
            </div>
          </div>
        </li>
        <!---->
      </ul>
    </div>
  </ion-content>
</ion-view>
