<ion-side-menus>
    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-calm nav-title-slide-ios7">
          
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="left" class="dark">
        <ion-content>
            <div>
                <img src="img/side.png" style= "width: 100%;height: 120px;"></img>
            </div>
            <div>
                <ul class="list">
                    <li menu-close nav-clear class="item dark" ng-click="goCitasPendient()">
                        CITAS PENDIENTES
                        <div class="menu-mark">
                            <h4 class="menu-mark-text">2</h4>
                        </div>
                    </li>
                    <li menu-close nav-clear class="item dark" ng-click="goAddAppointment()">
                        AÑADIR UNA CITA
                    </li>
                    <li class="item dark">
                        AGENDA
                        <i class="icon ion-chevron-down" style="right: 30px; position: absolute;"></i>
                    </li>
                    <li class="item black">
                        Sin Asignar
                    </li>
                    <li class="item black">
                        Jorge Sánchez
                    </li>
                    <li class="item black">
                        Ana Vázquez
                    </li>
                    <li menu-close nav-clear class="item dark" ng-click="goCustomers()">
                        CLIENTES
                    </li>
                    <li menu-close nav-clear class="item dark" ng-click="goAdjustment()">
                        AJUSTES
                    </li>
                    <li class="item dark" style="color: rgb(83, 83, 83);">
                        DESCONECTAR
                    </li>
                </ul>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>







